.taskpage {
  margin: 3vh auto;
  min-height: 94vh;
  max-width: 800px;
  border-radius: 10px;
  background: rgb(255, 230, 255);
  padding: 30px;
}

.header {
  color: rgb(40, 0, 40);
  margin: 0;
  padding: 0;
}
